*{
    		-webkit-box-sizing: border-box;
    		box-sizing: border-box;
    	}
    	body{
    		margin: 0;
    		font-family: "微软雅黑";
    		font-size: 14px;
    		line-height: 1.4528;
    		color: #333;
    		background-color: #fff;
}
h1{
	margin: 0;
	font-size: 18px;
}
.nav{
	height: 100px;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	line-height: 100px;
	color: #FFFFFF;
	padding-left: 100px;
}
.nav li{
	list-style:none;
	width:100px;
	display:inline-block;
	text-align:center;
}
.nav li a{
	display: block;
	color: #FFFFFF;
	font-size: 16px;
	text-decoration: none;
}
.form{
	padding-left: 100px;
	margin: 50px 0 0 0;
}
.form-group{
	margin: 10px;
}
